* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: Open Sans, Helvetica, sans-serif;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans-Regular.woff);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Open Sans;
  src: url(../fonts/OpenSans-Bold.woff);
  font-weight: 700;
  font-style: bold;
}

.popup__hidden {
  display: none;
}

.main__popup {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  position: fixed;
}

.main__popup::before {
  content: "";
  background-color: #000000;
  position: fixed;
  z-index: 2;
  opacity: 0.6;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup {
  position: fixed;
  z-index: 10;
}

.popup__container {
  position: relative;
  max-width: 390px;
  margin: 0 auto;
  padding: 53px 30px;
  background-color: #ffffff;

}

.popup__field:nth-child(n+2) {
  margin-top: 30px;
}

.popup__header {
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  color: #111111;
}

.popup__header::after {
  content: "";
  background: #e1d9bd;
  display: block;
  position: relative;
  margin-top: 14px;
  width: 65px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
}

.popup__selection__question {
  display: block;
  font-size: 13px;
  color: #000000;
  margin-bottom: 12px;
}

.popup__select {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  min-height: 48px;
  padding: 20px 15px 20px 20px;
  padding-left: 10px;
  padding-right: 25px;
  border: none;
  background-color: #f3f7f6;
  font-size: 13px;
  color: #6e706f;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 10px;
}

.popup__button__send {
  width: 100%;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  margin-top: 21px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
}

.popup__radio__group {
  display: inline-block;
  font-size: 15px;
}

.popup__radio__group:nth-of-type(n+2) {
  margin-left: 15px;
}

.popup__radio {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
}

.popup__radio__group__text {
  font-size: 13px;
  color: #000000;
}

.popup__radio:checked~.popup__radio__group__text::before {
  background-image: url(../svg/form-circle.svg);
}

.popup__radio__group__text::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../svg/form-empty-circle.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px;
  margin-right: 8px;
}

.textarea {
  min-width: 328px;
  min-width: 328px;
  min-height: 130px;
  max-height: 200px;
  resize: none;
}

.popup__textarea {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 20px;
  padding-right: 20px;
  background-color: #f3f7f6;
  border: none;
  padding-left: 17px;
  width: 100%;
  min-height: 130px;
  font-size: 11px;
  color: #6e706f;
}

.popup__button__close {
  position: absolute;
  background-size: 16px;
  background-position: center;
  background-color: transparent;
  width: 17px;
  height: 17px;
  font-size: 15px;
  top: -20px;
  right: 0;
  border: none;
  background-image: url(../svg/form-x.svg);
  background-repeat: no-repeat;
}

.header {
  position: relative;
  background-image: url(../images/banner-bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-color: #116062;
  z-index: 0;
  padding: 30px;
}

.header::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  opacity: 0.7;
  z-index: -1;
}

@media (min-width:641px) and (max-width:1199px) {
  .header {
    min-height: 392px;
    background-image: url(../images/banner-bg-tablet.jpg);
    background-size: cover;
  }
}

@media (max-width:640px) and (orientation: portrait) {
  .header {
    min-height: 640px;
    background-image: url(../images/banner-mobile.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
  }
}

.box {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
  text-align: center;
  color: #fffefd;
}

@media (max-width:640px) and (orientation: portrait) {
  .box {
    padding: 0;
    margin: 30px 20px;
  }
}

.menu {
  margin: 0;
  box-sizing: border-box;
}

.menu,
.header__logo__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 640px) {
  .header__logo__link {
    justify-content: center;
  }
}

@media (max-width: 640px) {
  .menu {
    width: 100%;
    flex-direction: column-reverse;
  }
}

.header__logo {
  width: 180px;
}

@media (min-width:641px) and (max-width:1199px) {
  .header__logo {
    width: 158px;
  }
}

@media (max-width: 640px) and (orientation: portrait) {
  .header__logo {
    width: 100%;
    align-self: center;
    padding: 187px 0 0 0;
  }
}

.nav__list {
  display: flex;
  list-style: none;
  align-items: center;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .nav__list {
    display: none;
  }
}

@media (max-width: 640px) {
  .nav__list {
    display: none;
  }
}

.nav__item:nth-child(n+2) {
  margin-left: 35px;
}

.nav__link {
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 13px;
}

.nav__link:hover {
  text-decoration: underline;
}

@media (min-width: 1200px) {
  .lines {
    display: none;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  .lines {
    display: block;
    margin-top: 10px;
  }
}

@media (max-width: 640px) {
  .lines {
    display: block;
    align-self: flex-end;
    padding: 0;
    margin: 0;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  .line {
    width: 23px;
    display: block;
    margin-bottom: 5px;
    border-bottom: 3px solid #ffffff;
  }
}

@media (max-width: 640px) {
  .line {
    width: 23px;
    display: block;
    margin-bottom: 5px;
    border-bottom: 3px solid #ffffff;
  }
}

.entry__title {
  font-size: 45px;
  line-height: 72px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: auto;
  padding: 102px 0;
  width: 700px;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .entry__title {
    width: 600px;
    font-size: 42px;
    line-height: 55px;
  }
}

@media (max-width: 640px) {
  .entry__title {
    margin: 0;
    padding: 42px 15px 0 15px;
    width: 100%;
    font-size: 26px;
    line-height: 36px;
  }
}

.in__trend__header,
.products__header {
  margin-top: 64px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
}

@media (min-width: 641px) and (max-width: 1199px) {

  .in__trend__header,
  .products__header {
    margin-top: 50px;
    font-size: 18px;
  }
}

@media (max-width: 640px) and (orientation: portrait) {

  .in__trend__header,
  .products__header {
    margin-top: 44px;
    font-size: 16px;
  }
}

.in__trend__header::after,
.products__header::after {
  position: relative;
  content: "";
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 14px;
  height: 3px;
  width: 65px;
  background: #e1d9bd;
}

.trends {
  width: 100%;
  margin: 29px 0 0 0;
  display: flex;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .trends {
    margin-top: 20px;
  }
}

@media (max-width: 640px) {
  .trends {
    margin-top: 25px;
    flex-wrap: wrap;
  }
}

.trend {
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 25%;
  min-height: 320px;
  align-items: flex-end;
  padding: 14px 24px;
}

.trend:nth-child(n+1):nth-child(-n+3) {
  margin-right: 3px;
}

@media (max-width: 640px) and (orientation: portrait) {
  .trend {
    margin-bottom: 3px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
  .trend {
    width: 48%;
    min-height: 231px;
    background-size: cover;
    background-position: bottom;
  }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
  .trends {
    margin-top: 25px;
    flex-wrap: wrap;
  }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
  .trend {
    width: 25%;
    min-height: 231px;
    padding: 20px;
    padding-bottom: 15px;
    background-size: cover;
    background-position: bottom;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .trend {
    width: calc(50% - 3px);
    margin-bottom: 3px;
  }
}

@media (max-width: 640px) and (orientation: portrait) {
  .trend {
    width: 100%;
    min-height: 231px;
    background-size: cover;
    background-position: bottom;
  }
}

.trend__1 {
  background-color: #000000;
  background-image: url(../images/trend1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.trend__2 {
  background-color: #000000;
  background-image: url(../images/trend2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.trend__3 {
  background-color: #000000;
  background-image: url(../images/trend3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.trend__4 {
  background-color: #000000;
  background-image: url(../images/trend4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.trend:before {
  position: absolute;
  content: "";
  background-color: #000000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  z-index: 0;
}

.trend__container {
  position: relative;
  width: 100%;
  border: 3px solid #897c53;
  padding: 36px 32px;
  align-items: flex-end;
  z-index: 1;
}

.trend__tags {
  list-style: none;
  display: flex;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.trend__tags:nth-child(n+2) {
  margin-left: 35px;
}

.trend__tag {
  margin-right: 20px;
}

.trend__tag__name {
  font-weight: bold;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 14px;
  z-index: 1;
}

.trend__tag__name:hover {
  text-decoration: underline;
}

.trend__text {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  line-height: 24px;
  position: relative;
  z-index: 1;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .trend__text {
    font-size: 17px;
  }
}

@media (min-width: 641px) and (max-width: 1199px) {
  .trend__text {
    font-size: 16px;
    line-height: 17px;
  }
}

.trend__text:hover {
  color: #b59f5b;
}

.main__container {
  margin-top: 61px;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .main__container {
    padding: 0 36px;
    max-width: 100%;
  }
}

@media (max-width: 640px) {
  .main__container {
    flex-direction: column;
    padding: 0 18px;
    width: 100%;
    margin-top: 43px;
  }
}

.main__card {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .main__card {
    padding: 0 0px;
  }
}

@media (max-width: 640px) {
  .main__card {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
  }
}

.main__box {
  width: 780px;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .main__box {
    width: calc (100%-275px);
    margin-right: 34px;
  }
}

.article {
  display: flex;
  width: 100%-300px;
}

.article:nth-child(n+2) {
  margin-top: 58px;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .article {
    flex-direction: column;
  }
}

@media (max-width: 640px) {
  .article {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
}

@media (max-width: 640px) {
  .article__img {
    width: 100%;
  }
}

.content__list {
  width: 370px;
  margin-left: 30px;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .content__list {
    width: 100%;
    margin: 0;
    padding-top: 15px;
  }
}

@media (max-width: 640px) {
  .content__list {
    width: 100%;
    margin: 0;
    padding-top: 14px
  }
}

@media (max-width: 640px) {
  .content__list::after {
    content: "";
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    width: 100%;
    height: 3px;
    background: #eeeeee;
  }
}

.lead__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin-bottom: 9px;
}

.lead {
  margin-right: 20px;
}

.lead__link {
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: #b59f5b;
  font-size: 14px;
}

.lead__link:hover {
  text-decoration: underline;
}

.article__title {
  color: #000000;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
}

.article__header {
  text-decoration: none;
  color: #0f0d0e;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  font-weight: bold;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .article__header {
    font-size: 17px;
    line-height: 22px;
  }
}

.article__header:hover {
  color: #b59f5b;
}

.card__header {
  margin-top: 27px;
}

.time {
  font-weight: bold;
  color: #989898;
  font-size: 12px;
  margin-right: 12px;
}

.author {
  font-weight: bold;
  color: #000000;
  font-size: 12px;
}

.card__text {
  margin-top: 48px;
  font-size: 15px;
}

@media (max-width: 640px) {
  .card__text {
    margin-top: 23px;
  }
}

.paragraph {
  display: inline-block;
  margin-bottom: 15px;
}

.side__box {
  width: 275px;
}

@media (max-width:640px) {
  .side__box {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .side__box {
    padding-top: 35px;
  }
}

.sidebar:nth-child(n+2) {
  margin-top: 53px;
}

@media (max-width: 640px) {
  .sidebar:nth-child(n+2) {
    margin-top: 44px;
  }
}

.side__posts__header {
  margin-bottom: 0;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .side__posts__header {
    font-size: 17px;
  }
}

.side__posts__header::after {
  display: block;
  content: "";
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 65px;
  height: 3px;
  background: #e1d9bd;
}

.side__post {
  font-weight: bold;
  display: block;
  display: flex;
  margin-top: 26px;
  color: #000000;
}

.side__post:nth-child(n+2) {
  margin-top: 20px;
}

.side__post__content {
  margin-left: 18px;
}

.side__post__time {
  font-size: 12px;
  opacity: 0.54;
}

.side__post__title {
  font-size: 14px;
}

.side__post__link {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

.side__post__link:hover {
  color: #b59f5b;
}

.search {
  margin-top: 60px;
  display: flex;
  width: 100%;
}

.search:focus {
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

@media (max-width:640px) {

  .search__box,
  .field {
    width: 100%;
  }
}

.field {
  box-sizing: border-box;
  width: 222px;
  height: 48px;
  font-size: 15px;
  padding: 0px 20px;
  background-color: #f4f7f6;
  border: none;
}

.visually__hidden {
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

.button {
  border: none;
  width: 48px;
  background-image: url(../svg/search.svg);
  background-repeat: no-repeat;
  background-size: 16px;
  background-position: center;
  background-color: #b59f5b;
}

.button:hover {
  background-color: #323232;
}

.email {
  box-sizing: border-box;
  background-color: #f4f7f6;
  border: none;
  padding-left: 17px;
  width: 270px;
  height: 43px;
  font-size: 13px;
  margin-top: 26px;
}

.email:focus {
  background-color: #f4f7f6;
  border: 1px solid #b59f5b;
}

@media (max-width:640px) {
  .email {
    width: 100%;
  }
}

.subscribe {
  width: 100%;
  height: 48px;
  background-color: #b59f5b;
  font-weight: bold;
  border: none;
  margin-top: 21px;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 14px;
}

.subscribe:hover {
  background-color: #323232;
}

.tags__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
}

.tags__list__item {
  align-items: center;
  border: 3px solid #ededed;
  padding: 8px 11px;
  font-size: 12px;
  margin-left: 5px;
  margin-bottom: 5px;
}

.tags__list__item:hover {
  border: 3px solid #b59f5b;
  color: #0f0d0e;
}

.tags__link {
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: #0f0d0e;
}

.category__list {
  list-style: none;
}

.category__list__item {
  margin-top: 14px;
}

.category__list__item::after {
  content: "";
  display: block;
  height: 1px;
  background: #eeeeee;
  position: relative;
  margin-top: 14px;
  width: 100%;
}

.category__link {
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  padding: 0 3px 0 0;
}

.category__link:hover {
  color: #b59f5b;
}

.index {
  display: inline-block;
  vertical-align: top;
  color: #b59f5b;
  font-weight: bold;
  font-size: 12px;
}

.shop {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  margin-top: 28px;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .shop {
    flex-wrap: wrap;
    padding: 0 36px;
  }
}

@media (max-width: 641px) {
  .shop {
    flex-wrap: wrap;
    padding: 0 15px;
  }
}

.product {
  width: 33.3%;
  display: flex;
  flex-direction: column;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .product {
    width: 48%;
    margin-bottom: 27px;
  }
}

@media (max-width: 641px) {
  .product {
    width: 100%;
    margin-bottom: 27px;
  }
}

.product__picture {
  text-align: center;
  padding: 0 40px;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .product__image {
    width: 100%;
    height: auto;
  }
}

.product__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 3px solid #d3c59d;
  margin: -30px 20px 0 20px;
  position: relative;
  z-index: 1;
  flex-grow: 1;
}

.product__content {
  text-align: left;
  padding: 54px 20px 27px 20px;
}

.product__title {
  text-transform: uppercase;
  color: #0f0d0e;
  font-size: 18px;
  line-height: 23.99px;
}

.product__description {
  color: #0f0d0e;
  font-size: 13px;
  line-height: 22px;
}

.product__link {
  text-decoration: none;
  font-size: 13px;
  color: #b59f5b;
}

.product__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.product__price__old {
  display: flex;
  text-decoration: line-through;
  font-size: 12px;
  font-weight: bold;
}

.product__price {
  font-size: 18px;
  font-weight: bold;
}

.product__button {
  border: none;
  background-color: #b59f5b;
  padding: 19px 28px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  color: #ffffff;
  font-weight: 700;
}

.footer {
  margin-top: 60px;
  margin-bottom: 40px;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .footer {
    margin-top: 20px;
    padding: 0 36px;
  }
}

@media (max-width: 600px) {
  .footer {
    margin-top: 40px;
    margin-bottom: 50px;
  }
}

.footer__container {
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  margin-bottom: 70px;
}

@media (min-width: 641px) and (max-width: 1199px) {
  .footer__container {
    margin-bottom: 40px;
    padding: 0;
  }
}

.social__links {
  margin-bottom: 20px;
  background-color: #f4f7f6;
  padding: 30px 0;
}

@media (max-width: 600px) {
  .social__links {
    margin-bottom: 0;
  }
}

.socials {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.socials__link {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center;
}

.socials__link__dribbble {
  background-image: url("../svg/001-dribbble.svg");
}

.socials__link__pinterest {
  background-image: url("../svg/001-pinterest.svg");
}

.socials__link__tumblr {
  background-image: url("../svg/003-tumblr.svg")
}

.socials__item:nth-child(n+2) {
  margin-left: 25px;
}

.socials__link__text {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.copyright {
  text-decoration: none;
  color: #999999;
  font-size: 12px;
  text-align: center;
  font-weight: 700;
}